.title {
    text-align: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 330px;
    margin: 0 auto;
}

.item {
    position: relative;
    margin: 5px;
    width: 100px;
    height: 100px;
}

.style1,
.style2 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    transition: transform .4s
}

.style1 {
    background-color: #ff8800;
    color: #fff;
}

.style2 {
    color: #ff8800;
    border: 1px solid #ff8800;
    padding: 0 10px;
    transform: scaleX(0);
    background-color: #ffe6c9;
}

.hide {
    transform: scaleX(0);
}

.show {
    transform: scaleX(1);
}

.show-result {
    transform: scaleX(1);
    opacity: 0.5;
}

.mybutton {
    position: relative;
    color: rgb(41, 56, 117);
    text-decoration: none;
    font-size: 19px;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
    right: 20px;
    border: 2px solid var(--color);
}

li {
    list-style: none;
}

li:last-child {
    margin-top: 70px;
}

ul {
    position: absolute;
    right: 50px;
    top: 50px;
}

.mybutton:hover {
    letter-spacing: 0.3em;
    background-color: var(--color);
    color: var(--color);
    box-shadow: 0 0 35px var(--color);
}

.mybutton::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: white;
}

.mybutton span {
    position: relative;
    z-index: 1;
}

.mybutton i {
    position: absolute;
    inset: 0;
    display: block;
}

.mybutton i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -6px;
    left: 100%;
    transform: translateX(-50%);
    background: #27282c;
    border: 2px solid var(--color);
    transition: 0.5s;
}

.mybutton:hover i::before {
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 40px 39px var(--color);
}

.mybutton i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -6px;
    left: 0;
    transform: translateX(-50%);
    background: #27282c;
    border: 2px solid var(--color);
    transition: 0.5s;
}

.mybutton:hover i::after {
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 40px -39px var(--color);
}

.message {
    position: absolute;
    top: 3%;
    left: 15%;
    font-size: 20px;
    color: rgb(86, 13, 233);
    font-weight: 600;
}